.favorites-container {
  width: 90% !important;
  margin: auto !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.switches-paper {
  max-width: fit-content !important;
  block-size: fit-content !important;
  margin: auto !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 20px !important;
}
@media only screen and (max-width: 950px) {
  .switches-container {
    display: none;
  }
}
