.app-header {
  background-color: transparent !important;
  margin-bottom: 40px;
}
.toolbar {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
}
.logo {
  height: 65px;
  display: flex;
}
@media only screen and (min-width: 600px) {
  .menu-button {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .buttons-box {
    display: none !important;
  }
}
